@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .gradient-button {
        background-image: linear-gradient(to right, #4A00E0, #8E2DE2);
    }
    .gradient-button:hover {
        opacity: 0.9;
    }
}
